# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/


# ==========================================
# Jupyter Notebook
# ==========================================

.ipynb_checkpoints/


# ==========================================
# VS Code
# ==========================================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json


# ==========================================
# macOS
# ==========================================

.DS_Store


# ==========================================
# Environment variables
# ==========================================

.env
.env.*


# ==========================================
# Data Science
# ==========================================

# Dados locais grandes
datasets/raw/*
datasets/processed/*

# Permitir manter apenas exemplos
!datasets/raw/.gitkeep
!datasets/processed/.gitkeep


# ==========================================
# Logs e temporários
# ==========================================

*.log
*.tmp


# ==========================================
# Build / Package
# ==========================================

build/
dist/
*.egg-info/


# ==========================================
# Matplotlib
# ==========================================

.matplotlib/